// FONT VARIABLES
$font-stack: arial, sans-serif;
$white-text: blanchedalmond;
$font-weight--main: 600;


//BACKGROUND VARIABLES
$green--main: #368648;
$red--main: #86364c;
$purple--main: #703686;
$arches-texture: url(https://www.transparenttextures.com/patterns/arches.png);
$degree-texture: url(https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
